div.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ml', aria-hidden='true')
  form.form-horizontal()    
        //.form-group
          //label.col-sm-2.control-label(for="comment") Comment
          //.col-sm-10
            //textarea#review.form-control(name="comment", rows="5")
      //.modal-footer
      //  button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        //a#friendsubmitcomm.btn.btn-success.success 34634Ring
