extends layout

block content
  div
    h1= title
    p #{message} #{title}
    
    
    
    div.container
     .row
     .col-xs-12.col-md-6
      .row.list-group
      each f in friends
        .list-group-item            
          a(href="/friend/"+f._id)= f.username           
