extends layout

block content

  div.container-fluid.row
    .div.col-xs-12.col-sm-4
      form(method="post",enctype="multipart/form-data")  
        .form-group
          button.btn-default.btn-lg      
            input(type="file",name="avatar")
          button.btn-default.btn-lg
            input(type="submit")
      
