doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')     
  body
  
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') moodRing
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/friendlist', id='friendlistid') Friends
            li
              a(href='/searchfriends', id='searchid') Search Friends
            li
              a(href='/oldmoods', id='oldmoodsid') Old Moods
              li
                a(href='/moodfeed', id='moodfeedid') moodFeed
            li
              a(href='/users/login', id='loginid') login  
            li
              a(href='/users/logout', id='logoutid') logout
            li
              a(href='/users/register', id='registerid') new registration
              
    
  div.container
    if messages.error
      .alert.alert-danger
        div= messages.error
    if messages.info
      .alert.alert-info
        div= messages.info
    if messages.success
      .alert.alert-success
        div= messages.success    
  div
    block content

    footer
      .row
        .col-xs-12
          small &copy; moodRing
             
    script(src='/javascripts/jquery-1.11.1.min.js')        
    script(src='/bootstrap/js/bootstrap.min.js')                
    script(src='/javascripts/jscript.js')
