extends layout

block content
  h1= title
  p moodRing #{title} <!--Login Form-->
  p #{message}
  input(type="hidden", value=nouser, id="nu")
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", role="form", id="login")
        .form-group
          label.col-sm-2.control-label(for="username") Username
          .col-sm-10
            input#review.form-control(name="username", rows="5")
        .form-group
          label.col-sm-2.control-label(for="password") Password
          .col-sm-10
            input#review.form-control(name="password", rows="5", type="password")
        button.btn.btn-default.pull-right Submit
    .col-xs-12.col-md-4
