extends layout

include _includes/sharedHTMLfunctions

block content
  div
    h1.header-font #{user.username}'s #{title}
    input(type="hidden", value=nouser, id="nu")
        
    .row
      .row.list-group
        each mood in oMoods
          .list-group-item
            p= mood.label
            //p= mood.createdAt
            p 
             +formatDate(mood.createdAt)
            a(href="/oldmoods/"+mood._id).btn.btn-primary.btn-sm Go to old mood
