extends layout

block content
  div
    h1= title
        
    .row
      .row.list-group
        each mood in oMoods
          .list-group-item
            p= mood.label
            p= mood.createdAt
            a(href="/oldmoods/"+mood._id) Go to old mood
