extends layout

block content
  div.comtainer
    h1 (#{user})    
    h3 Pick First Mood
      
    div.container
      div.col-xs-12.col-sm-4.mood-div
        form.form-horizontal(action="", method="post", role="form", id="firstMood")
          
          .form-group  
              .input-prepend.input-append
              
                select(data-style="btn-info", name="label", id="firstMoodChoices").form-control
                  optgroup( selected="selected", label="Select Mood") 
                    each name, ix in moodMap
                      option(hex=name.colorHex, fonthex=name.fontHex, lab=name.label)= name.label                          
          button.btn.btn-default.pull-left Submit Mood   
