extends layout

block content
  h1= title
  p #{title} for Moodring account<!--Registration Form-->
  
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", role="form", id="newUser")
        .form-group
          label.col-sm-2.control-label(for="username") Username
          .col-sm-10
            input.form-control(name="username", rows="5")
        .form-group
          label.col-sm-2.control-label(for="email") Email
          .col-sm-10
            input.form-control(name="email", rows="5", type="email")
        .form-group
          label.col-sm-2.control-label(for="password") Password
          .col-sm-10
            input.form-control(name="password", rows="5", type="password")
        .form-group
          label.col-sm-2.control-label(for="passwordverify") Verify Password
          .col-sm-10
            input.form-control(name="passwordverify", rows="5", type="password")  
            br
            = passwordError
        button.btn.btn-default.pull-right Submit
    .col-xs-12.col-md-4
