mixin outputRating(rating)
  - for (var i = 1; i <= rating; i++)
    span.glyphicon.glyphicon-star
  - for (i = rating; i < 5; i++)
    span.glyphicon.glyphicon-star-empty
    
mixin formatDate(dateString)
  -var date = new Date(dateString);
  -var d = date.getDate();  
  -var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
  -var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -var output = dayNames[date.getDay()] + ', ' + m + ' ' + d + ', ' + y;
  =output
